:root {
  /* Colors */
  --dark-cyan: hsl(185, 75%, 39%);
  --very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --dark-grayish-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);

  /* Typography */
  --font-family: 'Kumbh Sans', sans-serif;
  --font-size-body: 18px;

  /* Font Weights */
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}

*,
::before,
::after{
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-body);
  background-color: var(--dark-cyan);

  margin: 0;
  padding: 0;

  background-image:
      url('./images/bg-pattern-top.svg'),
      url('./images/bg-pattern-bottom.svg');
  background-repeat: no-repeat, no-repeat;

  background-position:
      right 48vw bottom 35vh,
      left 48vw top 50vh;
}

.card-container{
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 1.5rem;
   
}

.card{
  border-radius: 0.75rem;
  overflow: hidden;
  background-color: white;    

}

.card-profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -3.5rem;
}

.card-profile img{
  border-radius: 50%;
  border: 5px solid white;
}

.card-profile h3{
  display: flex;
  align-items: center;
  gap: 0.65rem;
  font-size: 1.2rem;
  margin-bottom: 0.65rem;
}

.card-profile h3 span{
  color: var(--dark-gray);
  font-weight: var(--font-weight-regular);
}

.card-profile p{
  margin-top: 0;
  font-size: 1rem;
  color: var(--dark-gray);
}

hr {
  border: none;
  border-top: 1px solid hsl(0, 0%, 89%);
  margin: 1rem 0;
}

.card-stats{
  display: flex;
  justify-content: space-around;
}

.stat{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0;
}

.stat h3{
  font-weight: var(--font-weight-bold);
  color: var(--very-dark-desaturated-blue);
  margin: 0 0 0.5rem 0;
  font-size: 1.25rem;
}

.stat p {
  margin: 0;
  font-size: 0.70rem;
  letter-spacing: 0.1em;
  color: var(--dark-grayish-blue);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: var(--dark-grayish-blue);
}